:local(.orderCard) {
  border: 1px solid gainsboro;
  border-radius: 5px;
  margin: 15px;
  padding: 5px 20px 20px 20px;
  /* outline: 1px dotted gainsboro; */
  width: 25%;

  &> * {
    /* outline: 1px dashed chartreuse; */
  }
}

:local(.orderCardHeader) {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

:local(.customerName) {
  margin: 15px 0;
  color: blue;
}

:local(.notReady) {
  margin-top: auto;
  margin-bottom: auto;
  color: firebrick;
}

:local(.ready) {
  margin-top: auto;
  margin-bottom: auto;
  color: darkgreen;
}
