:local(.tableHeader) {
  text-align: center;
  /* background-color: #ef4e42; */
  /* color: gainsboro; */
}

:local(.orderCardContainer) {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
}

:local(.menuConnecting) {
  color: firebrick;
}

:local(.menuReady) {
  color: darkgreen;
}

:local(.menuSent) {
  color: black;
}
